{% macro display(opts) %}
    <div id="{{ opts.id ~ '-target' }}"></div>
    {% js %}
    window.autosuggestCreateField({
        id: '{{ opts.id }}',
        sources: JSON.parse('{{ opts.sources|json_encode|raw }}'),
        type: "{{ opts.type|default('datalist') }}"
    });
    {% endjs %}
{% endmacro %}


{% macro demo(opts) %}
    <div id="{{ opts.id ~ '-target' }}"></div>
    {% js %}
    window.autosuggestCreateDemo({
        id: '{{ opts.id }}'
    });
    {% endjs %}
{% endmacro %}